@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', 'sans-serif';
}

li.sanpham{
    width: 100%;
}
body {
    font-size: 100%;
}
/* header */
:root {
    --main-color: #ff6347; 
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}



nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.anh video {
    display: block;
    width: 100%;
    height: auto;
}

.sanPham {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.sanPham li {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}


.sanPham img {
    width: 100%;
    height: auto;
    display: block;
}

.sanPham h3, .sanPham p {
    margin: 10px 0;
}

.sanPham button {
    background-color: var(--main-color); 
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.sanPham button:hover {
    background-color: #e55342;
    transform: scale(1.1);
}

.footerContent {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    background-color: #333;
    color: white;
}

.footerContent img {
    width: 200px;
    height: auto;
}

div.mienPhi{
    color: white;
    /* border: 2px solid rgb(0, 0, 0); */
    background-color: black;
    width: 100%;
    height: 25px;
}
div.container header{
    /* border: 2px solid red; */
    font-size: 20px;
    height: 100px;
}
div.container img.logo{
    width: 120px;
}
header nav{
    /* border: 2px solid rgb(53, 90, 158); */
    height: 50px;
    width: 1360px;
    display: inline-flex; /* đặt các thành phần nằm ngang */
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
}
li.rieng{
    padding: 10px 20px;
    list-style: none;
}
li.rieng1{
    padding-left: 250px;
}
header nav a{
    text-decoration: none;
    list-style: none;
}
li.rieng0{
    list-style: none;
}
li.rieng a{
    color: black;
}
nav li :hover{
    text-decoration: underline;
    color: blue;
}

/* main */
section.anh img{
    width: 100%;
}
section.anh{
    /* border: 2px solid red; */
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
div.content h2{
    /* border: 2px solid red; */
    width: 100%;
    text-align: center;
}
main ul{
    /* border: 2px solid red; */
    width: 1270px;
    height: 200px;
    display: inline-flex;
    padding: 10px 70px;
    margin-left: 50px;
}
li.anh img{
    width: 90px;
}
main li{
    padding: 10px 30px;
}
main li.anh2{
    padding-left: 180px;
}
li.anh{
    list-style: none;
}
li.rieng img{
    width: 40px;
}







/* main */

div.sanPham ul{
    /* border: 2px solid red; */
    width: 1270px;
    height: 480px;
    display: inline-flex;
    padding: 10px 70px;
    margin-left: 10px;
}
li.sanPham img{
    width: 280px;
}
li.sanPham h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
li.sanPham{
    list-style: none;
}
main.main2 h1{
    /* border: 2px solid red; */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(245, 212, 170);
}
li button{
    border-radius: 10px;
    width: 70px;
    height: 25px;
    background-color: rgb(247, 227, 202);
}



div.khuyenMai{
    /* border: 2px solid rgb(71, 70, 70); */
    
    height: 250px;
    padding-top: 50px;
    background-color: rgb(96, 96, 96);
}
div.khuyenMai h1{
    /* border: 2px solid red; */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
}
div.khuyenMai p{
    /* border: 2px solid red; */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
}
div.khuyenMai form{
    /* border: 2px solid red; */
    text-align: center;

}
div.khuyenMai button{
    width: 60px;
    height: 25px;
    border-radius: 10px;
    background-color: rgb(247, 227, 202);
}
div.khuyenMai input{
    width: 250px;
    height: 25px;
    border-radius: 10px;
}

li.sanPham a :hover{
    background-color: blue;
    color: white;
    
}
.to-ra {
    width: 280px; 
    height: auto; 
    transition: 0.3s;
}


/* fotter */
footer img{
    /* border: 2px solid red; */
    width: 120px;
    margin-left: 30px;
    margin-top: 2px;
}

div.footer ul{
    /* border: 2px solid red; */
    height: 500px;
    width: 100%;
    display: inline-flex;
}
div.footer li{
    padding: 10px 50px;
    list-style: none;
}
div.icon img{
    width: 40px;
}
div.icon ul{
    /* border: 2px solid red; */
    height: 100px;
    display: inline-flex;
    padding-left: 5px;
}
div.icon li{
    list-style: none;
}
li.footer{
    /* border: 2px solid blue; */
    width: 300px;
}
li.footer a{
    text-decoration: none;
    color: black;
}
li.footer a :hover{
    color:  red;
    text-decoration: underline;
}
section.anh{
    margin-left: 75px;
    width: 1400px;
}




ul.dropdown{
    display: none;
}
/* @media only screen and (max-width:1000px) {
    .keoDeAn{
        display: none;
    }



} */


/* 
 @media (min-width:576px){
    .container{
        max-width: 720px;
    }
 }

 @media (min-width:768px){
    .container{
        max-width: 720px;
    }
 }
 @media (min-width:992px){
    .container{
        max-width: 960px;
    }
 }
 @media (min-width:1200px){
    .container{
        max-width: 960px;
    }
 } */


/* Reset and general styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Arial', sans-serif;
    background-color: #f5f5f5;
    line-height: 1.6;
}

.container {
    width: 100%;
    max-width: 1400px; /* Adjust max-width as needed */
    margin: 0 auto;
    padding: 0 20px;
}

/* Header styles */
header {
    background-color: #333; /* Dark background */
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    padding: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.logo {
    width: 120px; /* Adjust logo size */
}

/* Main content styles */
.main-content {
    padding: 20px;
}

.sanPham {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sanPham li {
    width: 280px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.sanPham li img {
    width: 100%;
    height: auto;
}

.sanPham li h3, .sanPham li p {
    margin: 10px 0;
}

.sanPham li button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

.sanPham li button:hover {
    background-color: #42e57b;
    transform: scale(1.1);
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 1377px;
}

.footer ul {
    list-style-type: none;
}

.footer ul li {
    padding: 10px 0;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline;
}
div.khuyenMai{
    width: 1377px;

}

section.anh{
    width: 1210px;
}
div.sanPham button{
    padding-bottom: 40px;
    margin-bottom: 50px;
}
li.sanPham button{
    height: 10px;
}